#Python artifacts
pycache/
*.py[cod]
*.egg-info/
*.egg
.Python
env/
.venv/
venv/
*.pkl

#OS
.DS_Store

#Virtual envs / env files
*.env

#Output / uploads
uploads/
outputs/

#Editors/IDE
.vscode/
.idea/
